<div class="flex-w flex-t justify-content-between p-b-13">
							<div class="cart-total-product-name">
								<span {{!-- class="stext-110 cl2"  --}}class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{Descricao}}
								</span>
							</div>

							<div class="cart-total-price">
								<span class="mtext-110 cl2">
									{{PVP1}}
								</span>
							</div>
						</div>