<div class="item">
    <div class="left">
        <a href="#" class="thumb">
            <img src="../images/{{Artigo}}.jpg" alt="">
        </a>
        <div class="purchase">
            <h6>
                <a href="#">{{Descricao}}</a>
            </h6>
            <span>x1</span>
        </div>
    </div>
    <span class="price">{{PVP1}}</span>
</div>