<div class="item">
    <div class="left">
        <a href="#" class="thumb">
            <img src="images/item-1.png" alt="">
        </a>
        <div class="purchase">
            <h6>
                <a href="#">Low Table/Stool</a>
            </h6>
            <span>x4</span>
        </div>
    </div>
    <span class="price">$29</span>
</div>