
<html>
	<head>
		<meta charset="utf-8">
		<title>TrutasPhones Checkout</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="colorlib.com">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="image-holder">
				<img src="images/form-wizard.png" alt="">
			</div>
            <form action="/checkout/new-user" method="post">
            	<div id="wizard">
					
            		<!-- SECTION 1 -->
	                <h2>Billing Information</h2>
	                <section>
	                    <div class="form-row">
	                    	<div class="form-holder">
	                    		<label for="">
	                    		Name *
		                    	</label>
	                    		<input type="text" class="form-control" name="nomeCliente">
	                    	</div>
	                    </div>	
	                    <div class="form-row">
	                    	<label for="">
	                    		NIF *
	                    	</label>
	                    	<input type="text" class="form-control" name="nifCliente">
	                    </div>	
	                    <div class="form-row">
	                    	<label for="">
	                    		Country *
	                    	</label>
	                    	<div class="form-holder">
	                    		<select name="paisCliente" id="" class="form-control">
									<option value="PT" class="option">Portugal</option>
									<option value="ES" class="option">Espanha</option>
									<option value="UK" class="option">United Kingdom</option>
								</select>
								<i class="zmdi zmdi-caret-down"></i>
	                    	</div>
	                    </div>	
	                    <div class="form-row">
	                    	<label for="">
	                    		Address *
	                    	</label>
	                    	<input type="text" name="moradaCliente" class="form-control" placeholder="Street address" style="margin-bottom: 20px">
	                    </div>	
	                    <div class="form-row">
	                    	<label for="">
	                    		Town / City *
	                    	</label>
	                    	<input type="text" class="form-control" name="localidadeCliente">
	                    </div>
	                	<div class="form-row">
	                    	<label for="">
	                    		County 
	                    	</label>
	                    	<input type="text" class="form-control" name="localidadeCodigoPostalCliente">
	                    </div>
						<div class="form-row">
	                    	<label for="">
	                    		Postcode / Zip *
	                    	</label>
	                    	<input type="text" class="form-control" name="zipCliente">
	                    </div>	
						<div class="form-row">
	                    	<input type="submit" class="step-2" value="Next">
	                    </div>	
	                </section>     
            	</div>
            </form>
		</div>

			<script src="js/jquery-3.3.1.min.js"></script>
		
		<!-- JQUERY STEP -->
		<script src="js/jquery.steps.js"></script>

		<script src="js/main2.js"></script>

</body>
</html>