
<html>
	<head>
		<meta charset="utf-8">
		<title>TrutasPhones Checkout</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="colorlib.com">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="../fonts/material-design-iconic-font/css/material-design-iconic-font.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="image-holder">
				<img src="../images/form-wizard.png" alt="">
			</div>
            <form action="/checkout/createECL" method="post">
            	<div id="wizard">
	                <h2>Confirm Order</h2>
	                <section>
	                    <div class="product">

                            {{#each products}}
                                {{>checkoutProduct}}
                            {{/each}}

	                    </div>
	                    <div class="checkout">
	                    	<div class="total">
                    			<span class="heading">Total</span>
                    			<span class="total-price">{{totalPrice}}</span>
                    		</div>
	                    </div>
                        <div class="form-row">
	                    	<input type="submit" class="step-2" value="This is Correct">
	                    </div>	
	                </section>
	               
            	</div>
            </form>
		</div>

		<script src="../js/jquery-3.3.1.min.js"></script>
		
		<!-- JQUERY STEP -->
		<script src="../js/jquery.steps.js"></script>

		<script src="../js/main2.js"></script>
<!-- Template created and distributed by Colorlib -->
</body>
</html>